/* Keyframes for slide-down effect */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply the slide-down effect to the container specifically for AddExpensePage */
.AddExpensePage .container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid limegreen;
    animation: slideDown 1s ease-out;
}

.form {
    margin-top: 3rem;
    color: black;
}

.inputField {
    color: black;
    background-color: white;
}

.inputLabel {
    color: black;
}
