/* Keyframes for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the fade-in effect to the container specifically for ContactUsPage */
.ContactUsPage .container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid limegreen;
    animation: fadeIn 1s ease-in-out;
}

.form {
    margin-top: 3rem;
    color: black;
}

.inputField {
    color: black;
    background-color: white;
}

.inputLabel {
    color: black;
}
